@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi WebApp con Azure</h1>
    <h2>Github</h2>
    <p>Github e integración continua con Azure WebApp <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
